<div id="mod-log" class="modal fade" role="dialog" [hidden]="hideModal">
  <div class="modal-dialog" style="vertical-align: middle;">
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-body" style="height:auto">

        <div style="margin-top:10px;margin-right:20px">
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <div style="margin-top:3%">
          <h1 id="mod-log-tit"  >Iniciar</h1>
          <p  id="mod-log-tit2" >Sesión</p>
        </div>
        <hr/> 

        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" style="margin-right: 5%; margin-left: 5%;">
          <div class="form-group">
            <label for="Password" class="lab">Email</label>
            <input type="text" id="email" class="form-control" name="email" required [(ngModel)]="usuario.e_mail">
            <div *ngIf="formErrors.email" class="alert alert-danger">
              {{ formErrors.email }}
            </div>
          </div>

          <div class="form-group">
            <label for="Password"  class="lab">Password</label>
            <input type="Password"  class="form-control" id="password" name="password" required [(ngModel)]="usuario.pass">
            <div *ngIf="formErrors.password" class="alert alert-danger">
              {{ formErrors.password }}
            </div>
          </div>


          <div *ngIf="mAlert" class="alert alert-danger">
            Usuario o  Contraseña Incorrecta
          </div>

          <div class="row" >            
            <div class="col-xs-12 col-md-8" style="font-size:12px">          
              <p>¿No estas registrado? <a  class="btn_reg">Registrate!!</a></p>
              <p style="margin-top:-10px">¿Olvidaste tu <a  class="btn_forget">Contraseña?</a></p>
            </div>
            <div class="col-xs-12 col-md-4">
              <button type="submit" class="btn btn-success" name="btnLogin" style="float: right;" [disabled]="!loginForm.form.valid">Login</button>
            </div>
          </div> 


        </form>       
      </div>       
    </div>
  </div>
