.container{
	margin-top: 51px;
}


.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.btn-primary{
	background-color: rgb(77,185,221);
	border-color: gray;
}

button.btn-primary:hover {
	background-color: rgba(77,185,221,0.6);
}

button.btn-primary:active {
	background-color: rgb(37,154,192);
}

.projectCard{
	background-color: rgb(52,122,182);
	margin: 10px;	
}

.projectCard h4{
	color: white;
}

.lab1{
	color: white;
}
.lab2{
	background-color: rgb(221,221,221);
	color: black;
	border-color: gray;	
	height: 20px;
	text-align: left;
}

p{
	margin-top: 10px;
}

.txt{
	text-align: center;
}